{
  "rules": {
    "no-console": 0,
    "no-underscore-dangle": 0,
    "no-unused-vars": ["error", { "varsIgnorePattern": "(Promise|_.+)", "argsIgnorePattern": "scope|next|Promise|_.+" }],
    "no-use-before-define": ["error", { "variables": false }],
    "no-multi-str": 0,
    "space-before-function-paren": "off",
    "arrow-body-style": "off",
    "no-debugger": "error"
  },
  "env": {
    "node": true
  },
  "plugins": [
    "sort-requires"
  ],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "extends": [
    "airbnb-base"
  ]
}
